.left {
   color: whitesmoke;
   background-image:
      linear-gradient(to left top, rgba(56, 179, 103, 0.7), rgba(42, 84, 245, 0.7)),
      url('https://www.dropbox.com/s/2z4coujl8zf9982/profile-photo1.png?raw=1');
   background-size: cover;

   height: 100vh;
   text-align: center;
}

.info {
   margin-top: 60vh;
}

.subtext {
   margin-bottom: 40px;
}

.icon1 {
   margin: 10px;
}

@media screen and (min-width:900px) {
   .left {
      position: fixed;
      width: 50%;
   }
}